spring:
  application:
    name: CrudX

  datasource:
    url: jdbc:mysql://localhost:3306/common_modules
    username: root
    password: gowsi@92
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      auto-commit: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch_size: 30
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
        connection:
          provider_disables_autocommit: true

  output:
    ansi:
      enabled: ALWAYS

server:
  port: 8081

logging:
  level:
    com.xworkz.crudx: INFO
